.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#body-container {
  display: flex;
}

.navbar-fixed {
  z-index: 1005;
}

.side-nav-container {
  width: 290px;
  max-width: 200px;
}

.content-container {
  flex-grow: 2;
  height: 1000px;
  padding: 20px !important;
}

.nav-wrapper {
  padding: 0px 25px;
}

.nav-title {}

.collapsible {
  margin: 20px 20px;
}

.accordion-label-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}

.accordion-label-info .info {
  margin-left: 5px;
}

.sidenav {
  width: 200px !important;
}

.tabs .col .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}